body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.logo {
  font-weight: 800;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.list {
  list-style-type: none;
}
.logo-header {
  color: #2e2f42;
}
.list-links {
  font-weight: 500;
  color: currentColor;
  text-decoration: none;
}
.list-links:hover,
.list-links:focus {
  text-decoration: none;
  color: #404bbf;
}
.list-address {
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
.list-address:hover,
.list-address:focus {
  text-decoration: none;
  color: #404bbf;
}

.list-button-all {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #404bbf;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  cursor: pointer;
}

.list-button-web {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  cursor: pointer;
}

.list-button-app {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  cursor: pointer;
}

.list-button-design {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  cursor: pointer;
}

.list-button-marketing {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  cursor: pointer;
}
.list-button-all:hover,
.list-button-all:focus,
.list-button-web:hover,
.list-button-web:focus,
.list-button-app:hover,
.list-button-app:focus,
.list-button-design:hover,
.list-button-design:focus,
.list-button-marketing:hover,
.list-button-marketing:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.our-team {
  background-color: #f4f4fd;
}
.section-one {
  background: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.main-button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background: #404bbf;
}
.list-img-title-features {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}
.list-img-title-features-text {
  color: #434455;
}
.what-are-we-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
}
.section-four {
  background: #f4f4fd;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
}
.list-img-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.list-img-name-profession {
  color: #434455;
}
.footer {
  background: #2e2f42;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-footer-text {
  color: #f4f4fd;
}
.quotation {
  color: #e7e9fc;
}
